

 body {
    margin: 0;
    background: rgb(90, 63, 243);
    font-family: system-ui;
    display: grid;
  
    min-height: 100vh;
    
    }
  
  .App {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
  } 